body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2d2e2e;
    text-decoration: none;
}

/*__ MENU SUPERIOR DE NAVEGAÇÃO __ */

.header {
  background: rgb(226, 255, 3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 5%;
  border-bottom: 0.2rem ;
  padding-bottom: 0.8rem;
  font-size: 1rem;
  z-index: 100;
}

#Pnome{
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
}

nav li {
  display: inline-block;
  margin: 20px;   
  text-transform: uppercase;
}

nav a {
  color: #2d2e2e;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  transition: .3s;
}

nav a:hover,
nav a.active {
  font-size: 1rem;
  font-weight: 500;
  -webkit-text-stroke: 2px #2d2e2e;
}

#caixaMenu {
  font-size: 2.1rem;
  cursor: pointer;
  color: #2d2e2e;
  display: none;
  height: auto;
}

section {
  min-height: 100vh;
  padding: 3rem;
  max-width: 100%;
  font-family: "Lato", sans-serif;
  
}

/*__ INICIO IMAGEM __ */

.inicio{
  display:flex;
  align-items: center;
  padding: 0 10%;
  background: url('bala9.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.inicioConteiner {
  padding-top: 1px;
  padding-bottom: 30rem;
}


.inicioConteiner h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3; 
  margin-top: 1rem;
  text-shadow: 0 1px 5px #5d5e5e; 
}

.inicioConteiner .text-animate {
  width: 40rem;
}

.inicioConteiner .text-animate h3 {
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 600;
  color: rgb(226, 255, 3);
  -webkit-text-stroke: 2.2px #000000;
}

.inicioConteiner p {
  font-size: 1.2rem;
  margin: 1rem 0 3rem;
}

/* BOTÃO TELEGRAM E WHATSAPP */

.btnCaixa {
  display: flex;
  justify-content: space-between;
  height: 3.4rem;
  width: 21rem;
  cursor: pointer;
}

.btnCaixa .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 55%;
  background:rgb(226, 255, 3);
  text-decoration: none;
  color: #2d2e2e;
  border: 0.1rem solid #2d2e2e;
  border-radius: 0.6rem ;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  z-index: 2;
  overflow: hidden;
  transition: .5s;
}

.btnCaixa .btn:hover {
  color: rgb(226, 255, 3);
}

.btnCaixa .btn :nth-child(2) {
  background: transparent;
  color: rgb(226, 255, 3);
}

.btnCaixa .btn :nth-child(2)::before {
  background: rgb(226, 255, 3);
}

.btnCaixa .btn :nth-child(2):hover {
  color: rgb(226, 255, 3);
}

.btnCaixa .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
  background: #2d2e2e;
}

.btnCaixa .btn:hover:before {
  width: 100%;
}

/*__ BOTÕES DAS REDES SOCIAIS __ */

.sociais {
  position: absolute;
  bottom: 0.1rem;
  width: 125px;
  display: flex;
  justify-content: space-between;
  height: 1%;
  cursor: pointer;
}

.sociais a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: rgb(226, 255, 3); 
  border-radius: 50%;
  font-size: 20px;
  color: #2d2e2e;
  border: .1rem solid #2d2e2e;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.sociais a:hover {
  color: rgb(226, 255, 3);
}

.sociais a::before {
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #2d2e2e;
  z-index: -1;
  transition: .5s;
}

.sociais a:hover::before {
  width: 100%;
}

/*__ QUEM SOU __ */

.quemSou {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  margin-top: 0rem;
  gap: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: #2d2e2e;
}

.cabeca {
  text-align: initial;
  font-size: 4rem;
  text-shadow: 0 1px 6px rgb(226, 255, 3);
  color: rgb(226, 255, 3);
}

.quemSou .cabeca span {
  text-align: center;
  font-size: 4rem;
  color:#2d2e2e; 
  -webkit-text-stroke: 2px rgb(226, 255, 3);
  margin-top: 0;
  text-shadow:0 2px 10px rgb(226, 255, 3);
}

.quemsouConteiner h3 {
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0rem;
  text-shadow: 0 1px 5px #ffff; 
  color: #ffff
}

.quemsouConteiner p {
  margin: 2rem;
  font-size: 1.2rem;
  max-width: 70rem;
  margin-bottom: 0;
  color:#ffffff;
}

/*__ QUEM SOU IMAGEM __ */

.quemsouimg {
  position: relative;
  width: 25rem;
  height: 25rem;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.quemsouimg img {
  width: 100%;
  border-radius: 50%;
  border: .2rem solid #2d2e2e;
}

.quemsouimg .circulo {
  position:absolute;
  top: 7%;
  transform: translate(-50, -50%) rotate(0);
  width: 116%;
  height: 100%;
  border-radius: 100%;
  border-top: .4rem solid #2d2e2e;
  border-bottom: .4rem solid #2d2e2e;
  border-left: .4rem solid rgb(226, 255, 3);
  border-right: .4rem solid rgb(226, 255, 3);
}

/*__ TRILHA PROFISSIONAL (educação e experiência profissional) __*/

.trilhaProfissional {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  margin-top: 0;
  background-color: #2d2e2e;
}

.trilhaProfissional .cabeca {
  font-size: 4rem;
  padding-bottom: 2.7rem;
  text-shadow: 0 1px 8px rgb(226, 255, 3);
  color: rgb(226, 255, 3);
}

.trilhaProfissional .cabeca span {
  text-align: center;
  font-size: 4rem;
  color:#2d2e2e; 
  -webkit-text-stroke: 2px rgb(226, 255, 3);
  margin-top: 0;
  text-shadow:0 2px 10px rgb(226, 255, 3);
  text-decoration:none;
}

.trilhaProfissional .educacaoLinha {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.trilhaProfissional .aducacaoColuna {
  flex: 1 1 40rem;
}

.aducacaoColuna .titulo {
  font-size: 2.5rem;
  margin: 0 0 1.6rem 4rem;
  text-shadow: 0 1px 7px #b5b5b5;
  color: #ffff
}

.aducacaoColuna .educacaoCaixa {
  border-left: .5rem solid rgb(226, 255, 3);
}

.educacaoCaixa .educacaoContent {
  position: relative;
  padding-left: 2rem;
  color: #ffff
}

.educacaoLinha .aducacaoColuna .titulo {
  font-size: 2.3rem;
}

.educacaoContent .content h3 {
  font-size: 1.3rem;
}

.educacaoContent .content .ano i {
  font-size: 1.3rem;
}

.educacaoContent .content p {
  font-size: 1.2rem;
}

.habilidades h3 {
  text-align: center;
  font-size: 2.3rem;
  padding-top: 2rem;
  text-shadow: 0 1px 8px rgb(226, 255, 3);
  width: 100%;
  color: rgb(226, 255, 3);
}

/*__ HABILIDADES __ */

.habilidades {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.habilidades figure {
  margin: 0 2rem;
  text-align: center;
  color: #ffff;
}

.habilidades figcaption{
  font-size: 1.0rem;
}

/*__ BOTÃO CURRICULO __*/

.btnCurriculo {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3.4rem;
  width: 11rem;
  text-decoration: none;
}

.btnCurriculo .curriculo {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 63%;
  background:rgb(226, 255, 3);
  text-decoration: none;
  color: #2d2e2e;
  border: 0.2rem solid rgb(226, 255, 3);
  border-radius: 0.6rem ;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  z-index: 2;
  overflow: hidden;
  transition: .5s;
  width: 100%;
  margin-top: 8rem;
}

.btnCurriculo .curriculo a{
  text-decoration: none;
}

.btnCurriculo .curriculo:hover {
  color: rgb(226, 255, 3);
}

.btnCurriculo .curriculo :nth-child(2) {
  background: transparent;
  color: rgb(226, 255, 3);
}

.btnCurriculo .curriculo :nth-child(2)::before {
  background: rgb(226, 255, 3);
}

.btnCurriculo .curriculo :nth-child(2):hover {
  color: rgb(226, 255, 3);
}

.btnCurriculo .curriculo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
  background: #2d2e2e;
}

.btnCurriculo .curriculo:hover:before {
  width: 100%;
}

/*__ PROJETOS DESENVOLVIDOS __*/

.projetos {
  background-color: #2d2e2e
  
}

.projetos .cabeca {
  font-size: 4rem;
  color:rgb(226, 255, 3);
  text-align: center;
  text-shadow:0 2px 10px rgb(226, 255, 3);
  padding-top: 5rem;
  
}

.projetos .cabeca span {
  font-size: 4rem;
  font-weight: 600;
  color:#2d2e2e; 
  -webkit-text-stroke: 2px rgb(226, 255, 3);
  margin-top: 0;
  text-shadow:0 2px 10px rgb(226, 255, 3);
}

.projetos figcaption {
  color: #ffff;
  font-size: 1.2rem;
}

.projetoConteiner figure img {
  border-radius: 15px;
  height: 360px;
  width: 300px;
  box-shadow: 0 5px 10px black;
}

.projetoConteiner figure img:hover{
  box-shadow: 0 10px 15px black;
  transform: scale(1.03);
  transition: .3s;
  text-decoration: none;
}

.projetoConteiner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projetoConteiner figure {
  margin: 0 2rem;
  text-align: center;
  padding-top: 4rem;
}

.projetoConteiner .card {
  box-shadow: 0 5px 10px black;
  border-radius: 15px;
  background: #ffff;
  height: 359px;
  width: 300px;
  cursor: pointer;
}

.projetoConteiner h3{
  text-decoration: none;
  font-size: 1.3rem;
  text-shadow: 0 3px 10px #5d5e5e;
}

.card img {
  width: 100%; 
  height: auto;
}

.projetoConteiner .card img {
  height: 80px;
  width: 80px;
  margin-top: 16px;
}

.projetoConteiner .card:hover{
  box-shadow: 0 10px 15px black;
  transform: scale(1.03);
  transition: .3s;
  
}

.projetoConteiner figcaption{
  font-size: 1.2rem;
  padding-top: .1rem;
  }

/*__ CONTATO >>> FALE COMIGO __*/

.contato {
  background-color:#2d2e2e;
  background-position: center;
  
}

.contato h2{
  text-align: center;
  font-size: 4rem;
  color:#2d2e2e; 
  -webkit-text-stroke: 2px rgb(226, 255, 3);
  margin-top: 0;
  text-shadow:0 2px 10px rgb(226, 255, 3);
  text-decoration:none;
}

.contato span {
  
  font-size: 4rem;
  color: rgb(226, 255, 3);
  text-shadow:0 2px 10px rgb(226, 255, 3);
}

.contato form {
  max-width: 65rem;
  margin: 0 auto;
  text-align: center;
 
}

.contato form .caixaEntrada{
  position:relative;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
 
}
.contato form .caixaEntrada .campoEntrada {
  position: relative;
  width: 49%;
  margin: .1rem 0; 
}

.contato form .caixaEntrada .campoEntrada input,
.contato form .deixesuamsg textarea {
  width: 100%;
  height: 55%;
  padding: 0.3rem;
  font-size: 1.2rem;
  color:black;
  border-radius:1.5rem;
  
}

.contato form .caixaEntrada .campoEntrada input::placeholder,
.contato form .deixesuamsg textarea::placeholder {
  color:#808080;
  padding-top: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}

.contato form .deixesuamsg {
  position: relative;
  margin: 2rem 0;
  display:flex;
}

.contato form .deixesuamsg textarea {
  resize: none;
}

.contato form .btnenviar .btn {
  cursor: pointer;
}

/*__ BOTÃO ENVIAR MENSAGEM __*/

.btnenviar {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  width: 10rem;
  cursor: pointer;
  padding-left: 28rem;
  
  
  
}

.btnenviar .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 63%;
  background:rgb(226, 255, 3);
  text-decoration: none;
  color: #2d2e2e;
  border: 0.2rem solid rgb(226, 255, 3);
  border-radius: 0.6rem ;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  z-index: 2;
  overflow: hidden;
  transition: .5s;
  width: 100%;
  margin-top: 6rem;
  
}

.btnenviar .btn:hover {
  color: rgb(226, 255, 3);
}

.btnenviar .btn :nth-child(2) {
  background: transparent;
  color: rgb(226, 255, 3);
}

.btnenviar .btn :nth-child(2)::before {
  background: rgb(226, 255, 3);
}

.btnenviar .btn :nth-child(2):hover {
  color: rgb(226, 255, 3);
}

.btnenviar .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
  background: #2d2e2e;
}

.btnenviar .btn:hover:before {
  width: 100%;
}

/*__ RODAPE - FOOTER __*/

 footer{
  background-color: rgb(226, 255, 3);
  display:flex;
  padding: 0.1rem 20%;
  font-size: 1rem;
  }

.rodape-texto p{
  color:#2d2e2e;
  font-size: 1rem;
  
  
}

.rodape-icone a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  text-decoration: none;
}

.rodape-icone a i {
  font-size: 2.5rem;
  color:#2d2e2e;
  padding-left: 50rem;
  transition: .5s;
}

.rodape-icone a i:hover,
.rodape-icone a i:active {
  font-size: 2.8rem;
  font-weight: 500;
  -webkit-text-stroke: 2px #2d2e2e;
}












  
  

  
  
  
  
  








